body{
    background-color: rgb(218, 218, 218);
}

h1 {
    font-size: 30px;
    color: rgb(54, 54, 54);
    text-align: center;
}

h3 {
    font-size: 20px;
    color: rgb(219, 218, 218);
    text-align: center;
}

div {
    background-color: #34495e;
    padding: 21px;
    border: 5px solid #34495e;
    border-radius: 20px;
    margin-top: 10px;
}

p {
    color: azure;
}

img {
    width: 200px;
    margin-top: 10px;
    align: center;
}